In [84]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [85]:
import numpy as np
import pandas as pd

In [54]:
data = os.path.join("poker-hand-testing.data")

In [55]:
data_df = pd.read_csv(
    data, delimiter=",", skiprows=0, header=None)
data_df.head()

   0   1   2   3   4   5   6   7   8   9   10
0   1   1   1  13   2   4   2   3   1  12   0
1   3  12   3   2   3  11   4   5   2   5   1
2   1   9   4   6   1   4   3   2   3   9   1
3   1   4   3  13   2  13   2   1   3   6   1
4   3  10   2   7   1   2   2  11   4   9   0

In [56]:
X = data_df.drop(int("10"), axis=1)
y = data_df[int("10")]
print(X.shape, y.shape)

(1000000, 10) (1000000,)

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [58]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=0, stratify=y)

In [59]:
y_train = to_categorical(y_train)

In [60]:
y_test_c = to_categorical(y_test)

In [61]:
X_test.head()

        0   1  2   3  4   5  6  7  8   9
448423  1   7  1  13  1  12  4  9  4  12
922239  2   2  3   9  2   3  3  3  1   8
364964  3  13  2  13  4  11  1  4  4   5
690585  4  12  2   1  2   6  3  1  2  12
730351  4   7  4  11  3   7  3  3  4   2

In [62]:
from tensorflow.keras.models import load_model
model = load_model("pokerhand.h5")

In [63]:
model_loss, model_accuracy = model.evaluate(X_test, y_test_c, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

250000/250000 - 8s - loss: 0.0299 - acc: 0.9938
Loss: 0.029878436562165617, Accuracy: 0.9937880039215088

In [64]:
predictions = model.predict_classes(X_test)
predictions

array([1, 1, 1, ..., 0, 3, 0], dtype=int64)

In [65]:
dd = pd.DataFrame({"Predictions": predictions, "Actual":y_test})
dd.head()

        Predictions  Actual
448423            1       1
922239            1       1
364964            1       1
690585            2       2
730351            1       1

In [66]:
s = dd["Predictions"].count()
wrong = 0
for i in range(0,s):
    a=dd["Predictions"].iloc[i]
    b=dd["Actual"].iloc[i]
    if a != b:
        wrong = wrong + 1

In [67]:
(s - wrong) / s

0.993788

In [69]:
result = X_test

In [70]:
result["Value"] = dd["Predictions"]

C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
result["Actual"] = dd["Actual"]

C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
result.head()

        0   1  2   3  4   5  6  7  8   9  Value  Actual
448423  1   7  1  13  1  12  4  9  4  12      1       1
922239  2   2  3   9  2   3  3  3  1   8      1       1
364964  3  13  2  13  4  11  1  4  4   5      1       1
690585  4  12  2   1  2   6  3  1  2  12      2       2
730351  4   7  4  11  3   7  3  3  4   2      1       1

In [73]:
result = result.rename(columns={0: "Suit of card 1", 1: "Rank of card 1", 2: "Suit of card 2", 3: "Rank of card 2", 4: "Suit of card 3", 5: "Rank of card 3", 6: "Suit of card 4", 7: "Rank of card 4", 8: "Suit of card 5", 9: "Rank of card 5"})

In [74]:
sampleresult = result.iloc[1:20]
sampleresult.head()

,Suit of card 1,Rank of card 1,Suit of card 2,Rank of card 2,Suit of card 3,Rank of card 3,Suit of card 4,Rank of card 4,Suit of card 5,Rank of card 5,Value,Actual
922239,2,2,3,9,2,3,3,3,1,8,1,1
364964,3,13,2,13,4,11,1,4,4,5,1,1
690585,4,12,2,1,2,6,3,1,2,12,2,2
730351,4,7,4,11,3,7,3,3,4,2,1,1
600214,4,2,1,8,4,13,2,5,4,7,0,0

In [75]:
suit1 = sampleresult["Suit of card 1"]
rank1 = sampleresult["Rank of card 1"]
suit2 = sampleresult["Suit of card 2"]
rank2 = sampleresult["Rank of card 2"]
suit3 = sampleresult["Suit of card 3"]
rank3 = sampleresult["Rank of card 3"]
suit4 = sampleresult["Suit of card 4"]
rank4 = sampleresult["Rank of card 4"]
suit5 = sampleresult["Suit of card 5"]
rank5 = sampleresult["Rank of card 5"]

In [76]:
for i in range(len(suit1)):
    if suit1.iloc[i] == 1:
        suit1.iloc[i] = "Hearts"
    elif suit1.iloc[i] == 2:
        suit1.iloc[i] = "Spades"
    elif suit1.iloc[i] == 3:
        suit1.iloc[i] = "Diamonds"
    elif suit1.iloc[i] == 4:
        suit1.iloc[i] = "Clubs"
        
        
    if suit2.iloc[i] == 1:
        suit2.iloc[i] = "Hearts"
    elif suit2.iloc[i] == 2:
        suit2.iloc[i] = "Spades"
    elif suit2.iloc[i] == 3:
        suit2.iloc[i] = "Diamonds"
    elif suit2.iloc[i] == 4:
        suit2.iloc[i] = "Clubs"
        
    
    if suit3.iloc[i] == 1:
        suit3.iloc[i] = "Hearts"
    elif suit3.iloc[i] == 2:
        suit3.iloc[i] = "Spades"
    elif suit3.iloc[i] == 3:
        suit3.iloc[i] = "Diamonds"
    elif suit3.iloc[i] == 4:
        suit3.iloc[i] = "Clubs"
        
    if suit4.iloc[i] == 1:
        suit4.iloc[i] = "Hearts"
    elif suit4.iloc[i] == 2:
        suit4.iloc[i] = "Spades"
    elif suit4.iloc[i] == 3:
        suit4.iloc[i] = "Diamonds"
    elif suit4.iloc[i] == 4:
        suit4.iloc[i] = "Clubs"
        
    if suit5.iloc[i] == 1:
        suit5.iloc[i] = "Hearts"
    elif suit5.iloc[i] == 2:
        suit5.iloc[i] = "Spades"
    elif suit5.iloc[i] == 3:
        suit5.iloc[i] = "Diamonds"
    elif suit5.iloc[i] == 4:
        suit5.iloc[i] = "Clubs"
        
        
    if rank1.iloc[i] == 1:
        rank1.iloc[i] = "Ace"
    elif rank1.iloc[i] == 11:
        rank1.iloc[i] = "Jack"
    elif rank1.iloc[i] == 12:
        rank1.iloc[i] = "Queen"
    elif rank1.iloc[i] == 13:
        rank1.iloc[i] = "King"
        
    if rank2.iloc[i] == 1:
        rank2.iloc[i] = "Ace"
    elif rank2.iloc[i] == 11:
        rank2.iloc[i] = "Jack"
    elif rank2.iloc[i] == 12:
        rank2.iloc[i] = "Queen"
    elif rank2.iloc[i] == 13:
        rank2.iloc[i] = "King"
        
    if rank3.iloc[i] == 1:
        rank3.iloc[i] = "Ace"
    elif rank3.iloc[i] == 11:
        rank3.iloc[i] = "Jack"
    elif rank3.iloc[i] == 12:
        rank3.iloc[i] = "Queen"
    elif rank3.iloc[i] == 13:
        rank3.iloc[i] = "King"
        
    if rank4.iloc[i] == 1:
        rank4.iloc[i] = "Ace"
    elif rank4.iloc[i] == 11:
        rank4.iloc[i] = "Jack"
    elif rank4.iloc[i] == 12:
        rank4.iloc[i] = "Queen"
    elif rank4.iloc[i] == 13:
        rank4.iloc[i] = "King"
        
    if rank5.iloc[i] == 1:
        rank5.iloc[i] = "Ace"
    elif rank5.iloc[i] == 11:
        rank5.iloc[i] = "Jack"
    elif rank5.iloc[i] == 12:
        rank5.iloc[i] = "Queen"
    elif rank5.iloc[i] == 13:
        rank5.iloc[i] = "King"

C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\ashka\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
sampleresult.head()

,Suit of card 1,Rank of card 1,Suit of card 2,Rank of card 2,Suit of card 3,Rank of card 3,Suit of card 4,Rank of card 4,Suit of card 5,Rank of card 5,Value,Actual
922239,Spades,2,Diamonds,9,Spades,3,Diamonds,3,Hearts,8,1,1
364964,Diamonds,King,Spades,King,Clubs,Jack,Hearts,4,Clubs,5,1,1
690585,Clubs,Queen,Spades,Ace,Spades,6,Diamonds,Ace,Spades,Queen,2,2
730351,Clubs,7,Clubs,Jack,Diamonds,7,Diamonds,3,Clubs,2,1,1
600214,Clubs,2,Hearts,8,Clubs,King,Spades,5,Clubs,7,0,0

In [81]:
value = sampleresult["Value"]
actual = sampleresult["Actual"]


for i in range(len(value)):
    
    if value.iloc[i] == 0:
        value.iloc[i] = "High Card"
    elif value.iloc[i] == 1:
        value.iloc[i] = "One pair"
    elif value.iloc[i] == 2:
        value.iloc[i] = "Two pairs"
    elif value.iloc[i] == 3:
        value.iloc[i] = "Three of a kind"
    elif value.iloc[i] == 4:
        value.iloc[i] = "Straight"
    elif value.iloc[i] == 5:
        value.iloc[i] = "Flush"
    elif value.iloc[i] == 6:
        value.iloc[i] = "Full house"
    elif value.iloc[i] == 7:
        value.iloc[i] = "Four of a kind"
    elif value.iloc[i] == 8:
        value.iloc[i] = "Straight flush"
    elif value.iloc[i] == 9:
        value.iloc[i] = "Royal flush"
        
        
    if actual.iloc[i] == 0:
        actual.iloc[i] = "High Card"
    elif actual.iloc[i] == 1:
        actual.iloc[i] = "One pair"
    elif actual.iloc[i] == 2:
        actual.iloc[i] = "Two pairs"
    elif actual.iloc[i] == 3:
        actual.iloc[i] = "Three of a kind"
    elif actual.iloc[i] == 4:
        actual.iloc[i] = "Straight"
    elif actual.iloc[i] == 5:
        actual.iloc[i] = "Flush"
    elif actual.iloc[i] == 6:
        actual.iloc[i] = "Full house"
    elif actual.iloc[i] == 7:
        actual.iloc[i] = "Four of a kind"
    elif actual.iloc[i] == 8:
        actual.iloc[i] = "Straight flush"
    elif actual.iloc[i] == 9:
        actual.iloc[i] = "Royal flush"

C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashka\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
sampleresult.head()

,Suit of card 1,Rank of card 1,Suit of card 2,Rank of card 2,Suit of card 3,Rank of card 3,Suit of card 4,Rank of card 4,Suit of card 5,Rank of card 5,Value,Actual
922239,Spades,2,Diamonds,9,Spades,3,Diamonds,3,Hearts,8,One pair,One pair
364964,Diamonds,King,Spades,King,Clubs,Jack,Hearts,4,Clubs,5,One pair,One pair
690585,Clubs,Queen,Spades,Ace,Spades,6,Diamonds,Ace,Spades,Queen,Two pairs,Two pairs
730351,Clubs,7,Clubs,Jack,Diamonds,7,Diamonds,3,Clubs,2,One pair,One pair
600214,Clubs,2,Hearts,8,Clubs,King,Spades,5,Clubs,7,High Card,High Card